.Card{
    padding: 15px 20px;
    margin: 10px;
    width: 220px;
    height: 300px;
    border: 10px solid #3e3f40;
    border-radius: 5px;
    background: #100f0f;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}