@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@300;500&family=Pacifico&family=Signika+Negative:wght@700&display=swap');

.Navbar{
    background-color: rgba(245, 90, 90, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Navbar img{
    width: 20px;
}

.Navbar h1{
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.075em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 0px 5px;
}